
@{
    ViewBag.Title = "ErrorMessage";
}
<div class="container-fluid center-block">
    <h2 class="danger">Error Message</h2>
    <h3 class="has-error">Where is Guru?</h3>
    <iframe src="https://giphy.com/embed/xTka034bGJ8H7wH1io" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/xTka034bGJ8H7wH1io">via GIPHY</a></p>
</div>
